<section class="section" id="menu">
    <div class="container">
        <h2 class="favorites_title">Some of Our Favorites</h2>
        <p class="favorites_sub_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="favorites_list">
            <li class="favorites_item">
                <a class="favorites_links">
                    <img srcset=""
                    src="../img/favorites/mobile_burger-min.png" alt="burger" class="features_img" width="224px" height="224px">
                </a>
            </li>
            <li class="favorites_item">
                <a class="favorites_links">
                    <img srcset=""
                    src="../img/favorites/mobile_pasta-min.png" alt="spaghetti" class="features_img" width="224px" height="224px">
                </a>
            </li>
            <li class="favorites_item">
                <a class="favorites_links">
                    <img srcset=""
                    src="../img/favorites/mobile_pizza-min.png" alt="pizza" class="features_img" width="224px" height="224px">
                </a>
            </li>
            <li class="favorites_item favorites_hidden">
                <a class="favorites_links">
                    <img srcset=""
                    src="../img/favorites/desk_chicken-min.png" alt="chicken" class="features_img">
                </a>
            </li>
            <li class="favorites_item favorites_hidden">
                <a class="favorites_links">
                    <img srcset=""
                    src="../img/favorites/desk_salat-min.png" alt="fish" class="features_img">
                </a>
            </li>
            <li class="favorites_item favorites_hidden">
                <a class="favorites_links">
                    <img srcset=""
                    src="../img/favorites/desk_borshch-min.png" alt="borsch" class="features_img">
                </a>
            </li>
        </ul>
    </div>
</section>