<section class="section" id="menu">
    <div>
        <a href="#top" class="upward"></a>
    </div>
    <div class="container">
        <h2 class="favorites_title">Some of Our Favorites</h2>
        <p class="favorites_sub_title">Looking for something delicious?</p>
        <ul class="favorites_list">
            <li class="favorites_item">
                <a class="favorites_links">
                    <picture>
                        <source media="(min-width: 1280px)" 
                        srcset="./img/favorites/desk_burger-min.png 1x, ./img/favorites/desk_burger@2x-min.png 2x">
                        <source media="(min-width: 768px)" 
                        srcset="./img/favorites/tab_burger-min.png 1x, ./img/favorites/tab_burger@2x-min.png 2x">
                        <source media="(min-width: 320px)" 
                        srcset="./img/favorites/mobile_burger-min.png 1x, ./img/favorites/mobile_burger@2x-min.png 2x">
                        <img src="./img/favorites/desk_burger-min.png" alt="burger" class="favorites_img zoom_img" loading="lazy">
                    </picture>
                </a>
            </li>
            <li class="favorites_item">
                <a class="favorites_links">
                    <picture>
                        <source media="(min-width: 1280px)" 
                        srcset="./img/favorites/desk_pasta-min.png 1x, ./img/favorites/desk_pasta@2x-min.png 2x">
                        <source media="(min-width: 768px)" 
                        srcset="./img/favorites/tab_pasta-min.png 1x, ./img/favorites/tab_pasta@2x-min.png 2x">
                        <source media="(min-width: 320px)" 
                        srcset="./img/favorites/mobile_pasta-min.png 1x, ./img/favorites/mobile_pasta@2x-min.png 2x">
                        <img src="./img/favorites/desk_pasta-min.png" alt="spaghetti" class="favorites_img zoom_img" loading="lazy">
                    </picture>
                </a>
            </li>
            <li class="favorites_item">
                <a class="favorites_links">
                    <picture>
                        <source media="(min-width: 1280px)" 
                        srcset="./img/favorites/desk_pizza-min.png 1x, ./img/favorites/desk_pizza@2x-min.png 2x">
                        <source media="(min-width: 768px)" 
                        srcset="./img/favorites/tab_pizza-min.png 1x, ./img/favorites/tab_pizza@2x-min.png 2x">
                        <source media="(min-width: 320px)" 
                        srcset="./img/favorites/mobile_pizza-min.png 1x, ./img/favorites/mobile_pizza@2x-min.png 2x">
                        <img src="./img/favorites/desk_pizza-min.png" alt="pizza" class="favorites_img zoom_img" loading="lazy">
                    </picture>
                </a>
            </li>
            <li class="favorites_item favorites_hidden">
                <a class="favorites_links">
                    <picture>
                        <source media="(min-width: 1280px)" 
                        srcset="./img/favorites/desk_chicken-min.png 1x, ./img/favorites/desk_chicken@2x-min.png 2x">
                        <source media="(min-width: 768px)" 
                        srcset="./img/favorites/tab_chicken-min.png 1x, ./img/favorites/tab_chicken@2x-min.png 2x">
                        <img src="./img/favorites/desk_chicken-min.png" alt="chicken" class="favorites_img zoom_img" loading="lazy">
                    </picture>
                </a>
            </li>
            <li class="favorites_item favorites_hidden">
                <a class="favorites_links">
                    <picture>
                        <source media="(min-width: 1280px)" 
                        srcset="./img/favorites/desk_salat-min.png 1x, ./img/favorites/desk_salat@2x-min.png 2x">
                        <source media="(min-width: 768px)" 
                        srcset="./img/favorites/tab_salat-min.png 1x, ./img/favorites/tab_salat@2x-min.png 2x">
                        <img src="./img/favorites/desk_salat-min.png" alt="fish" class="favorites_img zoom_img" loading="lazy">
                    </picture>
                </a>
            </li>
            <li class="favorites_item favorites_hidden">
                <a class="favorites_links">
                    <picture>
                        <source media="(min-width: 1280px)" 
                        srcset="./img/favorites/desk_borshch-min.png 1x, ./img/favorites/desk_borshch@2x-min.png 2x">
                        <source media="(min-width: 768px)" 
                        srcset="./img/favorites/tab_borshch-min.png 1x, ./img/favorites/tab_borshch@2x-min.png 2x">
                        <img src="./img/favorites/desk_borshch-min.png" alt="borsch" class="favorites_img zoom_img" loading="lazy">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
    <script>
    window.addEventListener ('scroll', function (){
        var scroll = document. querySelector (' .upward') ;
        scroll.classList.toggle ("active", window.scrollY>500)
    })
    </script>
</section>