<section class="favorites">
    <div class="container">
        <h2 class="favorites_title"></h2>
        <p class="favorites_sub_title"></p>
        <ul class="favorites_list">
            <li class="favorites_item">
                <img src="" alt="" class="features_img">
            </li>
            <li class="favorites_item">
                <img src="" alt="" class="features_img">
            </li>
            <li class="favorites_item">
                <img src="" alt="" class="features_img">
            </li>
            <li class="favorites_item">
                <img src="" alt="" class="features_img">
            </li>
            <li class="favorites_item">
                <img src="" alt="" class="features_img">
            </li>
            <li class="favorites_item">
                <img src="" alt="" class="features_img">
            </li>
        </ul>
    </div>
</section>