<footer>
  <div class="footer-block-first">
    <nav class="footer-nav-menu">
      <a class="footer-logo">
        <img src="" alt="" />
      </a>
      <ul class="footer-nav-menu">
        <li class="footer-nav-menu-item">
          <a class="footer-nav-menu-link" href=""></a>Home
        </li>
        <li class="footer-nav-menu-item">
          <a class="footer-nav-menu-link" href=""></a>About
        </li>
        <li class="footer-nav-menu-item">
          <a class="footer-nav-menu-link" href=""></a>Service
        </li>
        <li class="footer-nav-menu-item">
          <a class="footer-nav-menu-link" href=""></a>Menu
        </li>
        <li class="footer-nav-menu-item">
          <a class="footer-nav-menu-link" href=""></a>Contact
        </li>
      </ul>
    </nav>
    <div class="footer-subscribe">
      <p class="subscribe">Subscribe</p>
      <form class="footer-form">
        <input
          type="text"
          name="email"
          placeholder="Enter your email"
          class="footer-input"
          required
        />
        <button type="submit" class="footer-submit-button">Subscribe</button>
        <p>
          By subscribing you agree to with our &nbsp;<a
            class="footer-subscribe-link"
            href=""
            >Privacy Policy</a
          >
        </p>
      </form>
    </div>
  </div>
  <div class="footer-block-second">
    <ul class="footer-list">
      <li class="footer-list-item">
        <a class="footer-list-link">Privacy Policy</a>
      </li>
      <li class="footer-list-item">
        <a class="footer-list-link">Terms of Service</a>
      </li>
      <li class="footer-list-item">
        <a class="footer-list-link">Cookies Settings</a>
      </li>
    </ul>
    <p class="footer-text">2022 FoodSta. All right reserved.</p>
  </div>
</footer>
