<!-- HEADER -->
<header class="header-section">
  <a href="#" class="header-logo-link">
    <svg width="66" height="52">
      <use href="../img/icons.svg#icon-logo"></use>
    </svg>
  </a>
  <div class="header-wrap">
    <nav class="header-nav">
      <ul class="header-menu">
        <li><a href="#home" class="header-menu-item">Home</a></li>
        <li><a href="#about" class="header-menu-item">About</a></li>
        <li><a href="#service" class="header-menu-item">Service</a></li>
        <li><a href="#menu" class="header-menu-item">Menu</a></li>
        <li><a href="#contact" class="header-menu-item">Contact</a></li>
      </ul>
    </nav>
    <button type="button" class="dark-btn main-btn" data-modal-open>
      Order Now
    </button>
  </div>
</header>
