<!-- HEADER -->
<header class="header-section">
  <a href="#" class="header-logo">
    <svg width="66" height="52">
      <use href="../img/icons.svg#icon-logo"></use>
    </svg>
  </a>
  <div class="header-wrap">
    <nav class="header-nav">
      <ul class="header-menu">
        <li class="header-menu-item"><a href="#home">Home</a></li>
        <li class="header-menu-item"><a href="#about">About</a></li>
        <li class="header-menu-item"><a href="#service">Service</a></li>
        <li class="header-menu-item"><a href="#menu">Menu</a></li>
        <li class="header-menu-item"><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <button type="button">Order Now</button>
  </div>
</header>
