<section id="home" class="hero-section">
  <div class="hero-container">
    <div class="order">
      <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero-desc">
        With just a few clicks, you can have your favorite meals
        delivered </br>
        straight to your doorstep, no matter where you are. Order now and enjoy
        a hassle-free and delicious meal from the comfort of your own home.
      </p>
      <button type="submit" class="hero-btn" data-modal-open>Order Now</button>
    </div>
    <div class="slider-container">
      <div class="outer-circle">
        <button type="button" class="left-slider slider-btn">
          <svg class="left-arrow" width="16" height="29">
            <use
              href="./img/hero-images/symbol-defs.svg#icon-vector-left"
              class="icon-left-arrow"
            ></use>
          </svg>
        </button>
       
        <div class="hero-gallery-wrap">
      <ul class="gallery-list swiper swiper-container">
        <li class="gallery-item swiper-wrapper">
          <img
          src="./img/hero-images/slider-option-1.png"
          class="img-food"
          alt="food option"
        />
            <li class="gallery-item swiper-wrapper">
          <img
          src="./img/hero-images/slider-option-2.png"
          class="img-food"
          alt="food option"
        />
           <li class="gallery-item swiper-wrapper">
          <img
          src="./img/hero-images/slider-option-3.png"
          class="img-food"
          alt="food option"
        />
        </li>
      </ul>
        <button type="button" class="right-slider slider-btn">
          <svg class="right-arrow" width="16" height="29">
            <use href="./img/hero-images/symbol-defs.svg#icon-vector-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
