<section id="home" class="hero-section">
  <div class="hero-container">
    <div class="order">
      <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero-desc">
        With just a few clicks, you can have your favorite meals
        delivered </br>
        straight to your doorstep, no matter where you are. Order now and enjoy
        a hassle-free and delicious meal from the comfort of your own home.
      </p>
      <button type="submit" class="hero-btn">Order Now</button>
    </div>
    <div class="slider-container">
      <div class="outer-circle">
        <button type="button" class="left-slider slider-btn" data-modal-open>
          <svg class="left-arrow" width="40" height="48">
            <use
              href="../img/icons.svg#icon-left-arrow"
              class="icon-left-arrow"
            ></use>
          </svg>
        </button>
        <img
          src="../img/hero-images/slider-option-1.png"
          class="img-food"
          alt="food option"
        />
        <button type="button" class="right-slider slider-btn">
          <svg class="right-arrow" width="40" height="48">
            <use href="../img/icons.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
