<div class="backdrop visually-hidden">
    <div class="modal">
        <button class="modal-close-btn">
            <svg class="modal-close-icon" width="10.76" height="10.76">
                <use href="../img/icons.svg#close"></use>
            </svg>
        </button>


        <p class="modal-title">Order Form</p>

        <form>

            <label for="input-name" class="form-label">Name</label>
            <div class="input-wrap">
                <input type="text" name="name" class="modal-input" placeholder="Your name" autofocus required
                    id="input-name">
            </div>

            <label for="input-tel" class="form-label">Phone</label>
            <div class="input-wrap">
                <input type="tel" name="phone" class="modal-input" placeholder="+38(0_ _) _ _ _   _ _   _ _" required
                    id="input-tel">
            </div>

            <label for="input-email" class="form-label">Email</label>
            <div class="input-wrap">
                <input type="email" name="email" class="modal-input last" placeholder="example@gmail.com" required
                    id="input-email">
            </div>
            <button type="submit" class="submit-button">Send</button>
    </div>




    </form>

</div>