<section class="review section">
  <div class="container">
    <h2 class="review-title">What our Customers Say</h2>
    <p class="review-description">
      Don't just take our word for it - see what our satisfied customers have to
      say
    </p>

    <div class="review-card-list">
    <article class="review-card-boy">
      <ul class="review-rate">
        <li class="review-star">
          <svg class="review-icon" width="17" height="16">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
        </li>
        <li class="review-star">
          <svg class="review-icon" width="17" height="16">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
        </li>
        <li class="review-star">
          <svg class="review-icon" width="17" height="16">
            <use href="./img/star.svg#icon-star"></use>
          </svg>
        </li>
        <li class="review-star">
          <svg class="review-icon" width="17" height="16">
            <use href="./img/star.svg#icon-star"></use>
          </svg>
        </li>
        <li class="review-star">
          <svg class="review-icon" width="17" height="16">
            <use href="./img/star.svg#icon-star"></use>
          </svg>
        </li>
      </ul>
      <p class="review-text">
        “The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked” </p>
      <div class="review-footer">
        <picture class="review-photo">
          <source
            media="(min-width: 1280px)"
            srcset="./img/boy-desk-1x.jpg 1x, ./img/boy-desk-2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/boy-tab-1x.jpg 1x, ./img/boy-tab-2x.jpg 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="./img/boy-mob-1x.jpg 1x, ./img/boy-mob-2x.jpg 2x"
          />
          <img src="./img/boy.jpg" 
          alt="Sumith Shah"
          loading="lazy" 
          width="48" height="48" />
        </picture>
        <div class="review-card-description">
          <p class="review-name">Sumith Shah</p>
          <p class="review-position">Some Dude</p>
        </div>
      </div>
    </article>
    <article class="review-card-girl">
      <ul class="review-rate">
        <li class="review-star">
          <svg class="review-icon" width="17" height="16">
            <use href="./img/star.svg#icon-star"></use>
          </svg>
        </li>
        <li class="review-star">
          <svg class="review-icon" width="17" height="16">
            <use href="./img/star.svg#icon-star"></use>
          </svg>
        </li>
        <li class="review-star">
          <svg class="review-icon" width="17" height="16">
            <use href="./img/star.svg#icon-star"></use>
          </svg>
        </li>
        <li class="review-star">
          <svg class="review-icon" width="17" height="16">
            <use href="./img/star.svg#icon-star"></use>
          </svg>
        </li>
        <li class="review-star">
          <svg class="review-icon" width="17" height="16">
            <use href="./img/star.svg#icon-star"></use>
          </svg>
        </li>
      </ul>
      <p class="review-text">
        “The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”
      </p>
      <div class="review-footer">
      <picture class="review-photo">
        <source
          media="(min-width: 1280px)"
          srcset="./img/girl-desk-1x.jpg 1x, ./img/girl-desk-2x.jpg 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/girl-tab-1x.jpg 1x, ./img/girl-tab-2x.jpg 2x"
        />
        <source
          media="(min-width: 320px)"
          srcset="./img/girl-mob-1x.jpg 1x, ./img/girl-mob-2x.jpg 2x"
        />
        <img src="./img/girl.jpg" 
        alt="Sumith Shah"
        loading="lazy" 
        width="48" height="48" />
      </picture>
      <div class="review-card-description">
      
      <p class="review-name">Sumith Shah</p>
      <p class="review-position">Some Dude</p>
     
    </div>
    </div>
    </article>
  </div>
  </div>
</section>
