
<section class="review">
    <h2 class="review-title">What our Customers Say</h2>
    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="review-list">
        <li class="review-card">
            <ul class="review-rate">
                <li class="review-icon">
                    <img class="review-star" src="" alt="star" width="17" height="16">
                </li>
                <li class="review-icon">
                    <img class="review-star" src="" alt="star" width="17" height="16">

                </li>
                <li class="review-icon">
                    <img class="review-star" src="" alt="star" width="17" height="16">

                </li>
                <li class="review-icon">
                    <img class="review-star" src="" alt="star" width="17" height="16">

                </li>
                <li class="review-icon">
                    <img class="review-star" src="" alt="star" width="17" height="16">

                </li>
            </ul>
            <p class="review-text">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”</p>
            <picture>
                <source media="(min-width: 1280px)" 
                srcset=""> 
                <source media="(min-width: 768px)" 
                srcset="">
                <source media="(min-width: 320px)" 
                srcset="">
            </picture>
            <img src="./" alt="Sumith Shah" width="48" height="48">
            <p class="review-name">Sumith Shah</p>
            <p class="review-position">Some Dude</p>
        </li>
        <li class="review-card">
            <ul class="review-rate">
                <li class="review-icon">
                    <img class="review-star" src="" alt="star" width="17" height="16">
                </li>
                <li class="review-icon">
                    <img class="review-star" src="" alt="star" width="17" height="16">

                </li>
                <li class="review-icon">
                    <img class="review-star" src="" alt="star" width="17" height="16">

                </li>
                <li class="review-icon">
                    <img class="review-star" src="" alt="star" width="17" height="16">

                </li>
                <li class="review-icon">
                    <img class="review-star" src="" alt="star" width="17" height="16">

                </li>
            </ul>
            <p class="review-text">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”</p>
            <picture>
                <source media="(min-width: 1280px)" 
                srcset=""> 
                <source media="(min-width: 768px)" 
                srcset="">
                <source media="(min-width: 320px)" 
                srcset="">
            </picture>
            <img src="./" alt="Sumith Shah" width="48" height="48">
            <p class="review-name">Sumith Shah</p>
            <p class="review-position">Some Dude</p>
        </li>
    </ul>
</section>