<section id="service" class="special-section section">
    <div class="container">
        <div class="special-border-wrap">
                <img 
                srcset="./img/services-images/mobile-apple-png-2x.png 2x"
                src="./img/services-images/mobile-apple-png.png" alt="green apple" width="202" height="256" class="special-image">
        </div>
        <div class="special-content-wrap">
            <h2 class="special-title">What's Special About Our Offerings</h2>
            <p class="special-general-text">With our platform, you can browse through a diverse selection of cuisines and local restaurants, and choose from a
            variety of dishes that cater to your specific taste buds.</p>
            <ul class="special-list">
                <li class="special-item">
                    <h3 class="special-item-title">Fastest Delivery</h3>
                    <p class="special-item-text">Our advanced logistics system and dedicated delivery partners ensure that your meals are delivered to you within
                    30-minutes.</p>
                </li>
                <li class="special-item">
                    <h3 class="special-item-title">Easy To Order</h3>
                    <p class="special-item-text">You can browse through a wide variety of cuisines and restaurants, select your favorite meals, and place your order in
                    just a few clicks.</p>
                </li>
            </ul>
            <div class="special-bottom-wrap">
                <button type="button" class="special-button" data-modal-open>Order Now</button>
                <div class="text-wrap">
                    <span class="read-more-text">Read More</span>
                    <span>
                        <svg class="arrow-icon" width="13" height="13">
                            <use href="./img/icons.svg#icon-arrow-right-no-border"></use>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>