<section class="special-section">
    <div class="container special-wrap">
        <div class="special-image-container">
            <img src="" alt="" class="special-image">
        </div>
        <div class="special-content-wrap">
            <h2 class="special-title"></h2>
            <p class="special-text"></p>
            <ul class="special-list">
                <li class="special-item">
                    <svg class="special-icon">
                        <use></use>
                    </svg>
                    <h3 class="special-item-title"></h3>
                    <p class="special-item-text"></p>
                </li>
                <li class="special-item">
                    <svg class="special-icon">
                        <use></use>
                    </svg>
                    <h3 class="special-item-title"></h3>
                    <p class="special-item-text"></p>
                </li>
            </ul>
            <button type="button" class="special-button"></button>
        </div>
    </div>
</section>