<section class="subscribe section" id="contact">
  <div class="container subscribe-wrap">
    <div class="subscribe-box">
      <h2 class="subscribe-title">Subscribe To Get Special Offers</h2>
      <div class="subscribe-inner">
        <p class="subscribe-text">
          Order now and receive 10% off your first meal with Enjoy Your Favorite
          Food From Anywhere.
        </p>
        <form class="cubscribe-form">
          <label class="subscribe-label">
            <input
              class="subscribe-input"
              id="subscribe"
              name="subscribe"
              type="email"
              title="Enter email address (example@email.com)"
              minlength="6"
              maxlength="25"
              placeholder="Enter your email"
              required
            />
            <span class="subscribe-error">
              Not a valid email address (example@email.com)
            </span>
            <button class="subscribe-button" type="submit" href="#">
              Subscribe
            </button>
          </label>
        </form>
      </div>
    </div>
    <picture class="subscribe-img">
      <source
        srcset="
          ./img/subscribe/banan-desc.png    1x,
          ./img/subscribe/banan-desc-2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/subscribe/banan-tabl.png    1x,
          ./img/subscribe/banan-tabl-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/subscribe/banan-mob.png    1x,
          ./img/subscribe/banan-mob-2x.png 2x
        "
        media="(min-width: 480px)"
      />
      <img src="./img/subscribe/banan-desc.png" alt="banana" />
    </picture>
  </div>
</section>
