<section class="subscribe">
  <div class="container">
    <h2 class="subscribe-title">Subscribe To Get Special Offers</h2>
    <p class="subscribe-text">
      Order now and receive 10% off your first meal with Enjoy Your Favorite
      Food From Anywhere.
    </p>
    <form class="cubscribe-form">
      <label class="subscribe-label">
        <input
          type="email"
          class="subscribe-input"
          placeholder="Enter your email"
        />
        <button type="button" class="subscribe-button">Subscribe</button>
      </label>
    </form>
    <picture class="subscribe-img">
      <source
        srcset="
          /src/img/subscribe/banan-desc.png    1x,
          /src/img/subscribe/banan-desc-2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/img/subscribe/banan-tabl.png    1x,
          /src/img/subscribe/banan-tabl-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /src/img/subscribe/banan-mob.png    1x,
          /src/img/subscribe/banan-mob-2x.png 2x
        "
        media="(min-width: 480px)"
      />
      <img src="/src/img/subscribe/banan-desc.png" alt="banana" />
    </picture>
  </div>
</section>
