.footer-block {
  width: 100%;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  background-image: url(../img/foto_footer/mobile/footer-mobile-1.png),
    url(../img/foto_footer/mobile/footer-mobile-orang.png),
    url(../img/foto_footer/mobile/footer-mobile-apple.png);
  background-position: bottom 0 right 50%, bottom 360px right 0,
    bottom 370px left 0;
  background-size: 253px, 100px, 120px;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .footer-block {
    background-image: url(../img/foto_footer/mobile/footer-mobile-1@2x.png),
      url(../img/foto_footer/mobile/footer-mobile-orang@2x.png),
      url(../img/foto_footer/mobile/footer-mobile-apple@2x.png);
  }
}
/* =======Logo and menu======= */
.footer-block {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-wraper {
  display: flex;
  justify-content: space-between;
}
.footer-nav {
  margin-right: 101px;
}
.footer-nav-menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
}

.footer-nav-menu-item {
  margin-bottom: 20px;
}
/* ======Subscribe====== */
.footer-subscribe {
  margin-top: 40x;
}
.subscribe-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--text-color);
  margin-bottom: 12px;
}
.footer-subscribe-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
}
.footer-subscribe-link {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  text-decoration-line: underline;
  color: var(--dark-color);
}
.footer-subscribe-label {
  position: relative;
}

.footer-subscribe-input {
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: #757575;
  background-color: #fefefe;
  width: 100%;
  height: 42px;
  margin-bottom: 20px;
  padding: 12px 11px;
  outline: transparent;
  text-transform: capitalize;
  border: 0.85px solid var(--main-color);
  border-radius: 30px;
  transition: color var(--transition-duration-and-fun);
}

.footer-subscribe-input::placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}

.footer-subscribe-input:valid {
  border: 0.85px solid var(--dark-color);
}

.footer-subscribe-input:invalid:not(:placeholder-shown) {
  border: 0.85px solid #ff705d;
}

.footer-subscribe-error {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 40px;
  display: inline-flex;
  align-items: center;
  font-size: 10px;
  line-height: 1.5;
  color: #ff705d;
}

.footer-subscribe-error::before {
  content: '';
  background-image: url(../img/subscribe/warning.svg);
  margin-right: 4px;
  width: 12px;
  height: 12px;
}
.footer-subscribe-input:invalid:not(:placeholder-shown)
  ~ .footer-submit-button {
  opacity: 0.5;
  cursor: no-drop;
}
.footer-subscribe-input:invalid:not(:placeholder-shown):not(:focus-visible)
  + .footer-subscribe-error {
  opacity: 1;
}

.footer-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  border: 0.85px solid var(--dark-color);
  border-radius: 30px;
  margin-left: auto;
  padding: 11px 22px;
  transition: background-color var(--transition-duration-and-fun);
}
.footer-submit-button:hover,
.footer-submit-button:focus {
  background-color: var(--main-color);
}
.footer-subscribe-text {
  margin-right: 0;
  margin-top: 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: var(--text-color);
}

.footer-polici {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  color: var(--text-color);
  margin-top: 20px;
}
.footer-polici-link {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: var(--dark-color);
}
/* ======second block========= */

.footer-list {
  margin: auto;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  text-decoration-line: underline;
  color: var(--dark-color);
  margin-bottom: 40px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: var(--text-color);
}
@media screen and (min-width: 480px) {
  .footer-block {
    min-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .footer-block {
    background-image: url(../img/foto_footer/mobile/footer-mobile-1.png),
      url(../img/foto_footer/tablet/footer-part-orange.png),
      url(../img/foto_footer/tablet/kapli.png),
      url(../img/foto_footer/tablet/footer-part-apple.png),
      url(../img/foto_footer/mobile/footer-mobile-orang.png);
    background-position: bottom 0px right 20px, -4% 100%, 85% 109%, 100% 100%,
      bottom 360px right 0px;
    background-size: 650px, 20%, 20%, 20%, 100px;
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .footer-block {
      background-image: url(../img/foto_footer/mobile/footer-mobile-1@2x.png),
        url(../img/foto_footer/tablet/footer-part-orange@2x.png),
        url(../img/foto_footer/tablet/footer-part-apple@2x.png),
        url(../img/foto_footer/tablet/kapli@2x.png)
          url(../img/foto_footer/mobile/footer-mobile-orang@2x.png);
    }
  }
  .footer-nav-menu {
    display: flex;
    gap: 28px;
    margin-left: 114px;
    margin-right: 233px;
  }
  .footer-block-first {
    padding-top: 100px;
  }

  .footer-logo {
    margin-bottom: 40px;
  }
  .footer-subscribe-input {
    width: 279px;
    margin-right: 13px;
  }
  .footer-submit-button {
    width: 103px;
    height: 42px;
    margin-left: 0;
  }
  .footer-subscribe-label {
    display: flex;
  }
  .footer-subscribe-text {
    margin-top: 12px;
  }
  .footer-block-second {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .footer-list {
    margin: 0;
    justify-content: flex-start;
    gap: 20px;
  }
  .footer-text {
    display: flex;
    flex-shrink: 0;
    margin-left: 236px;
  }

  @media screen and (min-width: 1280px) {
    .footer-block {
      background-image: url(../img/foto_footer/destop/big-kapli.png),
        url(../img/foto_footer/destop/big-orange.png),
        url(../img/foto_footer/destop/banan.png),
        url(../img/foto_footer/destop/aple.png),
        url(../img/foto_footer/destop/kapli-smile.png),
        url(../img/foto_footer/destop/kapli-2.png),
        url(../img/foto_footer/destop/manzana.png),
        url(../img/foto_footer/destop/naranja.png);
      background-position: 50% 100%, 50% 100%, 73% 100%, 100% 100%, 20% 100%,
        92% 100%, 28% 100%, 5% 100%;
      background-size: 48%, 33%, 23%, 18%, 18%, 28%, 18%, 18%;
      background-repeat: no-repeat;
    }
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .footer-block {
        background-image: url(../img/foto_footer/destop/big-kapli@2x.png),
          url(../img/foto_footer/destop/big-orange@2x.png),
          url(../img/foto_footer/destop/banan@2x.png),
          url(../img/foto_footer/destop/aple@2x.png),
          url(../img/foto_footer/destop/kapli-smaile@2x.png),
          url(../img/foto_footer/destop/kapli-2@2x.png),
          url(../img/foto_footer/destop/manzana@2x.png),
          url(../img/foto_footer/destop/naranja@2x.png);
      }
    }
    .footer-block-first {
      display: flex;
      justify-content: space-between;
      padding-bottom: 80px;
    }
    .footer-text {
      margin-left: auto;
    }
  }
}
