.footer {
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/foto_footer/footer-mobile-1.png),
    url(../img/foto_footer/footer-mobile-orang.png),
    url(../img/foto_footer/footer-mobile-apple.png);
  background-position: 50% 100%, 100% 3%, 0% 20%;
  background-size: 100%, 40%, 35%;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .footer {
    background-image: url(../img/foto_footer/footer-mobile-1@2x.png),
      url(../img/foto_footer/footer-mobile-orang@2x.png),
      url(../img/foto_footer/footer-mobile-apple@2x.png);
  }
}
.footer-nav-menu {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
}
.footer-nav-menu-item {
  margin-bottom: 20px;
}
.footer-wraper {
  display: flex;
}
.footer-subscribe-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
}
.footer-input {
  justify-content: center;
  width: 279px;
  height: 42px;
  color: #757575;
  border: 0.85px solid var(--main-color);
  border-radius: 30px;
  background-color: #fefefe;
}
.footer-input:hover,
.footer-input:focus {
  border-color: var(--dark-color);
}
.footer-input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
}
.footer-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 22px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 1);
  border: 0.85px solid var(--dark-color);
  border-radius: 30px;
  margin-top: 20px;
}
.footer-subscribe-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: var(--text-color);
}

.footer-polici {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  color: var(--text-color);
  margin-top: 20px;
}
.footer-polici-link {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: var(--dark-color);
}
.footer-list {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  text-decoration-line: underline;
  color: var(--dark-color);
  margin-bottom: 40px;
  margin-top: 60px;
}
.footer-list > .footer-list-item {
  display: inline-block;
  margin-right: 20px;
}
.footer-text {
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: var(--text-color);
}
