.header-section {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-right: 30px;
}

.header-menu-item {
    
}