.order {
  margin-top: 159px;
  margin-bottom: 3px;
}

.hero-title {
  width: 502.42px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 28px;
  color: var(--text-color);
}

.hero-desc {
  font-weight: 400;
  width: 514px;
  height: 69px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.slider-container {
  display: flex;
  justify-content: flex-end;
  width: 528px;
  height: 528px;
  margin-top: 14px;
}

.outer-circle {
  position: relative;
  width: 528px;
  height: 528px;
  border: 26px solid var(--yellow-main);
  border-radius: 50%;
}

.left-arrow {
  fill: black;
}

.left-slider {
  position: absolute;
  border-radius: 8px;
  border: none;
  top: 210px;
  left: -30px;
}

.right-slider {
  position: absolute;
  right: -30px;
  top: 210px;
  border-radius: 8px;
  border: none;
}

.slider-btn {
  background: white;
  width: 40px;
  height: 48px;
  padding: 0;
  margin: 0;
  transition: fill, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-btn {
  width: 98px;
  height: 32px;
  font-size: 12px;
  font-weight: 500;
  line-height: calc(19.5 / 13);
  background-color: var(--btn-green);
  border-radius: 30px;
  border: none;
  padding: 6px 18px;
}

.hero-btn:is(:hover, :focus) {
  background-color: var(--main-color);
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .slider-container {
    display: none;
  }

  .order {
    margin-top: 60px;
    margin-bottom: 32px;
  }
  .hero-container {
    width: 100%;
  }
  .hero-title {
    font-size: 28px;
    width: 100%;
  }

  .hero-desc {
    font-family: 'Roboto';
    width: 100%;
    height: 101px;
    line-height: 1.4;
    font-size: 14px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 480px) {
  .hero-container {
    width: 320px;
  }
  .order {
    margin-top: 60px;
    margin-bottom: 32px;
  }

  .hero-title {
    font-size: 28px;
    width: 283px;
  }

  .slider-container {
    display: none;
  }
  .hero-desc {
    font-family: 'Roboto';
    width: 266px;
    height: 101px;
    line-height: 1.4;
    font-size: 14px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .slider-container {
    display: flex;
    width: 320px;
    height: 320px;
    position: absolute;
    right: 50px;
    top: 120px;
  }
  .hero-container {
    width: 100%;
    position: relative;
  }

  .outer-circle {
    width: 292px;
    height: 292px;
    border: 14px solid var(--yellow-main);
  }
  .hero-title {
    width: 537px;
    font-size: 42px;
  }

  .hero-desc {
    width: 336px;
    font-size: 16px;
  }
  .slider-btn {
    width: 34px;
    height: 28px;
    transform: translateY(-95px);
  }

  .left-arrow,
  .right-arrow {
    width: 11px;
    height: 20px;
  }

  .hero-title {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
}
