.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(94, 99, 99, 0.7);
}
.modal {
  position: relative;

  padding: 32px;
  width: 458px;
  height: 449px;
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
}
.modal-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-16px, 16px);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  border: none;
}
.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: var(text-color);
  text-align: center;
}
.form-label {
  margin-bottom: 2px;
}
.modal-input {
  width: 394px;
  height: 48px;
  background: #ffffff;
  border: 1px solid rgba(18, 18, 18, 0.12);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  outline: none;
  padding: 12px 14px;
  margin-bottom: 24px;
}
.modal-input.last {
  margin-bottom: 0;
}

.submit-button {
  display: block;
  width: 106px;
  height: 40px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  background: var(--background-color);
  border: 2px solid var(--dark-color);
  border-radius: 30px;
}
.modal-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #c4c4c4;
}
