.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(94, 99, 99, 0.7);
  transition: var(--transition-duration-and-fun);
}
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 32px;
  width: 100%;
  height: 449px;
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
}
.modal-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-16px, 16px);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: var(--background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  border: none;
}
.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: var(text-color);
  text-align: center;
}
.input-wrap {
  position: relative;
}
.form-label {
  margin-left: 14px;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}
.modal-input {
  width: 100%;
  height: 48px;
  background: #ffffff;
  border: 1px solid rgba(18, 18, 18, 0.12);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  outline: none;
  padding: 12px 14px;
  margin-bottom: 24px;
}
.modal-input.last {
  margin-bottom: 0;
}

.submit-button {
  display: block;
  width: 106px;
  height: 40px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  background: var(--background-color);
  border: 2px solid var(--dark-color);
  border-radius: 30px;

  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
}
/* .submit-button:hover {
  background-color: var(--button-color);
} */

.modal-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #c4c4c4;
}

/* VALIDATION  */

.modal-input:valid {
  border: 1px solid var(--dark-color);
}

.modal-input:invalid:not(:placeholder-shown) {
  border: 1px solid #ff705d;
}

.name-error {
  opacity: 0;
  position: absolute;
  left: 30px;
  top: 108px;
  transform: translate(14px, 48px);

  display: inline-flex;
  align-items: center;
  font-size: 10px;
  line-height: 1.5;
  color: #ff705d;
}
.name-error::before {
  content: '';
  background-image: url(../img/subscribe/warning.svg);
  margin-right: 4px;
  width: 12px;
  height: 12px;
}

.phone-error {
  opacity: 0;
  position: absolute;
  left: 30px;
  top: 204px;
  transform: translate(14px, 48px);

  display: inline-flex;
  align-items: center;
  font-size: 10px;
  line-height: 1.5;
  color: #ff705d;
}
.phone-error::before {
  content: '';
  background-image: url(../img/subscribe/warning.svg);
  margin-right: 4px;
  width: 12px;
  height: 12px;
}

.email-error {
  opacity: 0;
  position: absolute;
  left: 30px;
  top: 300px;
  transform: translate(14px, 48px);

  display: inline-flex;
  align-items: center;
  font-size: 10px;
  line-height: 1.5;
  color: #ff705d;
}
.email-error::before {
  content: '';
  background-image: url(../img/subscribe/warning.svg);
  margin-right: 4px;
  width: 12px;
  height: 12px;
}

/* Display error messages  */

.modal-input:invalid:not(:placeholder-shown) + .name-error {
  opacity: 1;
}
.modal-input:invalid:not(:placeholder-shown) + .phone-error {
  opacity: 1;
}
.modal-input:invalid:not(:placeholder-shown) + .email-error {
  opacity: 1;
}

/* Conditions of colorizing button  */

.order-form:valid .submit-button {
  background-color: var(--button-color);
}

.modal-input:invalid:placeholder-shown ~ .submit-button {
  border-color: var(--button-color);
  cursor: not-allowed;
}
.modal-input:invalid:not(:placeholder-shown) ~ .submit-button {
  border-color: #ff705d;
  cursor: not-allowed;
}

/* Media  */
@media screen and (min-width: 480px) {
  .modal {
    width: 458px;
  }
  .modal-input {
    width: 394px;
  }
}
