.review{
    background-image: url(../img/bg-review-mob-320.jpg);
}

.review-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    color:var(--text-color);
    margin-bottom: 20px;
    text-align: left;
}

.review-icon{
    fill: var(--main-color);
}

.review-description{
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color);
    margin-bottom: 32px;
}


.review-card-boy{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 247px;
    background-color: var(--background-color);
    border-radius: 30px;
    border-top-left-radius: 0;
    margin-left: auto;
    margin-right: auto;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 24px;
}

.review-card-girl{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 228px;
    background-color: var(--background-color);
    border-radius: 30px;
    border-top-left-radius: 0;
    margin-left: auto;
    margin-right: auto;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 8px;
    padding-right: 8px;
}

.review-card-boy:hover,
.review-card-girl:hover,
.review-card-boy:focus,
.review-card-girl:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
   }

.review-rate{
    display: flex;
    margin-top: 8px;

}

.review-star{
    margin-right: 4px;
}

.review-text{
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: -0.02em;
    color: var(--text-color);
    margin-top: 28px;
    margin-bottom: 40px;
 }

.review-photo{
    margin-left: 8px;
    margin-right: 16px;
}

.review-footer{
    display: flex;
   }

.review-name{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 2px;
}


.review-position{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-color);
}

.review-card-description{
    position: relative;
   
}

.review-card-description::after{
    position: absolute;
    top: -5px;
    right: -16px;
    display: block;
    border-radius: 0.425px;
    content: '';
    width: 0.85px;
    height: 52px;
    background-color: var(--dark-color);
   }


 @media screen and (min-width: 480px) {
    .review{
        background-image: url(../img/bg-review-mob-480.jpg);
    }
    

 }

 @media screen and (min-width: 768px) {

    .section{
        padding-top: 60px;
        padding-bottom: 120px;
    }
    .review{
        background-image: url(../img/bg-review-tab.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }
    
    .review-title{
        font-size: 42px;
        line-height: 1.17;
        margin-left: 17px;
    }

    .review-description{
        font-size: 16px;
        line-height: 1.19;
        margin-left: 17px;
        margin-bottom: 32px;
    }

    .review-card-list{
        display: flex;
        row-gap: 32px;
    }

    .review-card-boy,
    .review-card-girl{
        width: 336px;
        height: 244px;
        padding-left: 0;
        padding-right: 0;
      }

    .review-rate{
        margin-left: 12px;
        margin-top: 12px;
    }

    .review-text{
        display: flex;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        margin-left: 12px;
        margin-right: auto;
        margin-top: 28px;
        margin-bottom: 40px;
    }

    .review-card-description::after{
        width: 1px;
        height: 52px;
    }
     
 }
    







 @media screen and (min-width: 1280px) {
    .review{
        background-image: url(../img/bg-review-desk.jpg);
           
    }

    .section{
        padding-top: 100px;
    }

    .review-title{
        margin-left: 1px;
    }
    
    .review-description{
        margin-left: 1px;
    }

    .review-rate{
        margin-left: 14px;
        margin-top: 14px;
    }


    
    .review-card-boy,
    .review-card-girl{
        width: 501px;
        height: 227px;
        margin-left: 0;
        margin-right: 139px;
        margin-bottom: 24px;
       }

    .review-card-list{
        margin-left: 1px;
      }

    .review-text{
        margin-left: 14px;
      }

    .review-footer{
        margin-left: 14px;
    }

 }
    
 
