.hero-special {
    background-image: url(../img/services-images/mobile-rectangle.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 1122px;

}

.special-section {
    padding-top: 42px;
    padding-bottom: 72px;
}

.special-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.special-images-wrap {
    display: flex;
    justify-content: center;
}

.special-image {
    margin-bottom: 60px;
    width: 100%; 
    height: auto;
}

.special-content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.special-title {
    width: 100%;
    max-width: 280px;
    margin-bottom: 28px;
    font-weight: 700;
    line-height: 1.17;
    color: var(--text-color);
}

.special-general-text {
    width: 100%;
    max-width: 280px;
    font-size: 14px;
    line-height: 1.4;
    color: var(--text-color);
}

.special-list {
    margin-bottom: 28px;
}

.special-item::before {
    content: '';
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffffff;
    background-image: url(../img/services-images/rocket-icon.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    margin-bottom: 8px;
}

.special-item:nth-child(2n)::before {
    background-image: url(../img/services-images/order-icon.svg);
}

.special-item:nth-child(3n)::before {
    display: none;
}

.special-item:not(:last-child) {
    margin-bottom: 24px;
}


.special-item-title {
    width: 100%;
    max-width: 280px;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 1.16;
    color: var(--text-color);
}

.special-item-text {
    width: 100%;
    max-width: 280px;
    font-size: 14px;
    line-height: 1.4;
    color: var(--text-color);
}

.special-button {
    width: 106px;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid var(--dark-color);
    border-radius: 30px;
    font-style: inherit;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: var(--text-color);
    outline: none;
    transition: background-color var(--transition-duration-and-fun), border var(--transition-duration-and-fun);
}

.special-button:hover,
.special-button:focus {
    background-color: var(--button-color);
    border: transparent;
}

.special-bottom-wrap {
    display: flex;
    column-gap: 24px;
    align-items: center;
    margin-top: 28px;
}

.link-wrap {
    font-size: 13px;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 4px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {    
    .hero-special {
        background-image: url(../img/services-images/mobile-second-rectangle.jpg);
        background-size: 100% 1050px;
    }
    .special-section {
        padding-top: 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

    .hero-special {
        background-image: url(../img/services-images/tablet-services-bg.jpg);        background-repeat: no-repeat;
        background-size: 100% 1100px;
        }
    .special-section {
        padding-bottom: 88px;
    }

    .special-image {
        width: 705px;
        height: auto;
    }

    .special-content-wrap {
        align-items: flex-start;
    }

    .special-title {
        font-size: 42px;
        line-height: 1.16;
        max-width: 526px;
        margin-bottom: 20px;
    }
    
    .special-general-text {
        max-width: 500px;
    }

    .special-list {
        display: flex;
        column-gap: 80px;
        flex-wrap: wrap;
    }

    .special-item:last-child {
        max-width: 252px;
    }

    .special-item-text {
        max-width: 288px;
    }


}

@media screen and (min-width: 1280px) {

    .hero-special {
        background-image: url(../img/services-images/desk-background.jpg);
        background-size: 100% 824px;

    }

    .special-section {
        padding-top: 16px;
        padding-bottom: 43px;
    }

    .special-images-wrap {
        flex-shrink: 0;
    }

    .special-wrap {
        display: flex;
        column-gap: 90px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    

    .special-image {
            width: 505px;
            height: auto;
        }
  
    .special-content-wrap {
        align-items: flex-start;
    }

    .special-list {
        display: flex;
        column-gap: 67px;
        flex-wrap: wrap;
    }

    .special-title {
        font-size: 42px;
        line-height: 1.2;
        max-width: 526px;
    }

    .special-general-text {
        font-size: 16px;
        line-height: 1.5;
        max-width: 490px;
        margin-bottom: 40px;
    }

    .special-item-text {
        line-height: 1.5;
        max-width: 253px;
    }
}
