/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./components.css');
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./vars.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./special.css');
@import url('./favorites.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');
@import url('./modal.css');

:root {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  /* color: var(--text-color);
  background-color: var(--background-color); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}