.subscribe {
  width: 100%;
  padding-top: 52px;
  padding-bottom: 60px;
}

.subscribe-wrap {
  position: relative;
  display: flex;
  justify-content: center;
}

.subscribe-box {
  width: 100%;
}

.subscribe-title {
  margin-bottom: 20px;
  color: var(--text-color);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}
.subscribe-inner {
  width: 100%;
}

.subscribe-text {
  margin-bottom: 40px;
  color: var(--text-color);
  font-size: 14px;
  line-height: calc(16 / 14);
}

.subscribe-label {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.subscribe-input {
  width: 100%;
  padding: 12px 11px;
  transition: color var(--transition-duration-and-fun);
  text-transform: capitalize;
  color: var(--text-color);
  border: 0.854167px solid var(--main-color);
  border-radius: 30px;
  outline: transparent;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
}

.subscribe-input::placeholder {
  color: #505050;
  font-size: 12px;
  line-height: 1.5;
}

.subscribe-input:valid {
  border: 0.854167px solid var(--dark-color);
}

.subscribe-input:invalid:not(:placeholder-shown) {
  border: 0.854167px solid var(--warning-color);
}

.subscribe-error {
  position: absolute;
  top: 40px;
  left: 0;
  display: inline-flex;
  align-items: center;
  opacity: 0;
  color: var(--warning-color);
  font-size: 10px;
  line-height: 1.5;
}

.subscribe-error::before {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  content: '';
  background-image: url(../img/subscribe/warning.svg);
}

.subscribe-input:invalid:not(:placeholder-shown):not(:focus-visible)
  + .subscribe-error {
  opacity: 1;
}

.subscribe-button {
  display: block;
  margin-left: auto;
  padding: 11px 22px;
  transition: background-color var(--transition-duration-and-fun);
}

.subscribe-input:invalid:not(:placeholder-shown) ~ .subscribe-button {
  border: 0.854167px solid var(--warning-color);
  cursor: no-drop;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--main-color);
}

.subscribe-img {
  position: absolute;
  top: -17px;
  justify-content: center;
  width: 163px;
  height: 78px;
  transform: translateY(-100%);
}

@media screen and (min-width: 480px) {
  .subscribe-inner {
    width: 100%;
  }

  .subscribe-box {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe {
    padding-top: 82px;
    padding-bottom: 100px;
  }

  .subscribe-wrap {
    justify-content: flex-end;
  }

  .subscribe-box {
    width: 656px;
  }

  .subscribe-title {
    width: 100%;
    font-size: 42px;
    line-height: calc(49 / 42);
  }

  .subscribe-inner {
    width: 520px;
  }

  .subscribe-text {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
  }

  .subscribe-label {
    flex-wrap: nowrap;
    gap: 22px;
  }

  .subscribe-img {
    top: -20px;
    justify-content: end;
    width: 281px;
    height: 136px;
  }
}

@media screen and (min-width: 1280px) {
  .subscribe {
    position: relative;
    padding-top: 0;
    top: -47px;
    padding-bottom: 17px;
  }

  .subscribe-wrap {
    align-items: center;
    justify-content: space-between;
  }

  .subscribe-title {
    line-height: 1.2;
  }

  .subscribe-inner {
    width: 532px;
  }

  .subscribe-label {
    display: flex;
    align-items: start;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 32px;
  }

  .subscribe-input {
    width: 395px;
  }

  .subscribe-img {
    position: relative;
    top: 0;
    width: 547px;
    height: 267px;
    transform: none;
  }
}
