:root {
  --text-color: #2c2c2c;
  --main-color: #ffe550;
  --button-color: #bbf330;
  --dark-color: #7eb101;
  --background-color: #fefefe;
  --modal-color: #c4c4c4;
  --warning-color: #ff705d;
  --fruit-shadow: radial-gradient(
    50% 50% at 50% 50%,
    #2f583f 0%,
    rgba(105, 105, 105, 0) 100%
  );
  --transition-duration-and-fun: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
